<div class="sidebarWrap">
    <a href="javascript:;" class="backLink" (click)="menuToggle()"><img src="assets/images/back.svg" alt="back icon"></a>
    <a href="javascript:;" class="sidebarLogo"><img src="assets/images/logo.svg" alt="logo"></a>
    <div class="sideBarTop">
        <ng-container *ngIf="!isLoggedIn">
            <div class="sidebarMenuWrap">
                <h6 class="menuHeading">Log in with:</h6>
                <ul>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/auth/drop-image" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/credit-card.svg" alt="icon"> <span>Drop Pass Key</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/auth/debit-card-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/card-val.svg" alt="icon"> <span>Enter Pass Key Details</span></a></li>
                </ul>
                <div class="gap20"></div>
                <h6 class="menuHeading">Don't have an account?</h6>
                <ul>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/auth/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/vault.svg" alt="icon"> <span>Get SkyVault</span></a></li>
                </ul>
            </div>
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
            <div class="sidebarMenuWrap">
                <ul>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/balance" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/wallet.svg" alt="icon"> <span>Balance</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/withdraw" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/withdrawal.svg" alt="icon"> <span>Withdraw</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/deposit" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/deposit.svg" alt="icon"> <span>Deposit</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/transfer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/transfer-money.svg" alt="icon"> <span>Transfer</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/payment" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/income.svg" alt="icon"> <span>Payment</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/statements" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/transaction.svg" alt="icon"> <span>Statements</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/myqr" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/qr-code.svg" alt="icon"> <span>My QR</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" routerLink="/download-passkey" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="assets/images/download.svg" alt="icon"> <span>Download Pass Key</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="logout()"><img src="assets/images/on-off-button.svg" alt="icon"> <span>Logout</span></a></li>
                </ul>
            </div>
        </ng-container>
        <ng-container>
            <div class="infoMenuMobile">
                <ul>
                    <li><a href="javascript:;" class="sideNavLink" (click)="disclaimberModalToggler()"><img src="assets/images/help.svg" alt="icon"> <span>Disclaimer</span></a></li>
                    <li><a href="javascript:;" class="sideNavLink" (click)="supportModalToggler()"><img src="assets/images/information.svg" alt="icon"> <span>Support</span></a></li>
                </ul>
            </div>
        </ng-container>
    </div>
    <div class="sideBarBottom">
        <div class="serverDiv">
            <div class="raidalogo">
                <img src="assets/images/raida-logo.svg" alt="icon">
            </div>
            <div class="signalWrap">
              <ng-container *ngIf="showRaida">
                <ng-container *ngFor="let number of [].constructor(serverNumber) ;let i= index">
                  <div class="signalDiv" [(ngModel)]="serverResponseList[i]" ngDefaultControl name="server{{i}}" [ngStyle]="{'background-color':(serverResponseList[i].status==1)?'#25CF5D':'#FF3C2D'}" tooltip="Server {{serverResponseList[i].server}} is {{serverResponseList[i].message}}" placement="top">
                  </div>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="!showRaida">
                <ng-container *ngFor="let item of [].constructor(25);let i= index">
                  <div class="signalDiv" tooltip="Server {{i}} is loading" placement="top"></div>
                </ng-container>
              </ng-container>
            </div>
        </div>
        <span class="versionInfo">v.21</span>
    </div>
</div>



<!-- modal Disclaimer -->
<div class="modalContainer" *ngIf="disclaimberTypeModal">
    <div class="modalOverlay" (click)="disclaimberModalToggler()"></div>
    <div class="modalWrap modalSmall text-center">
      <div class="modalClose" (click)="disclaimberModalToggler()" style="float: right;">
        <img src="assets/images/close.svg" alt="icon">
      </div>
      <div class="modalSidebarHeader">
        <h1>Disclaimer</h1>
      </div>
      <div class="modalBody">
        <div class="gap10"></div>
        <p class="textCont">The SkyVault ATM is used to store and transfer CloudCoins. This software is provided as-is with all faults, defects, errors, and without warranty of any kind.
          <br>This software is provided for free from the CloudCoin Consortium.</p>
      </div>
    </div>
  </div>
  <!-- modal Disclaimer-->

  <!-- modal support -->
  <div class="modalContainer" *ngIf="supportTypeModal">
      <div class="modalOverlay" (click)="supportModalToggler()"></div>
      <div class="modalWrap modalLarge">
        <div class="modalClose" (click)="supportModalToggler()" style="float: right;">
          <img src="assets/images/close.svg" alt="icon">
        </div>
        <div class="modalSidebarHeader">
          <h1>Support</h1>
        </div>
        <div class="modalBody">
          <div class="gap10"></div>
          <div class="row">
              <div class="col-md-4">
                  <div class="contactDiv">
                      <img src="assets/images/maps-and-flags.svg" alt="icon">
                      <p>CloudCoin Consortium SV, Zug, Switzerland</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="contactDiv">
                      <img src="assets/images/email.svg" alt="icon">
                      <a href="mailto:support@cloudcoin.global">support@cloudcoin.global</a>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="contactDiv">
                      <img src="assets/images/telephone.svg" alt="icon">
                      <a href="tel:+1 (530) 562-4608">+1 (530) 562-4608</a>
                  </div>
              </div>
          </div>
          <div class="gap20"></div>
        </div>
      </div>
    </div>
    <!-- modal support-->
