.register-container{
    height: 100%;
    align-items: center;
    .container{
        // overflow-y: scroll;
        // max-height: 80vh;
        .pageHeading{
            text-align: center;
        }
    }
    .register-credentials-inner{
        max-width: 710px;
        margin: auto;
        margin-top:30px;
        @media (max-width:768px){
          margin-top: 20px;
        }
        @media (max-width:600px){
          margin-top: 0px;
        }
    }

  .picture-pass-heading{
    color: #fff;
    margin-top: 0px;
  }
}
.picPswInfoText {
  color: rgba(251, 251, 251, 0.8);
  font-size: 15px;
  margin: 10px 0;
  @media (max-width: 576px) {
    font-size: 14px;
  }
  text-align: justify;
}

.modalWrap{
    max-height: 93vh;
    .set-picture-head{
        font-size: 35px;
        color: #fff;
        padding-left: 2%;
        margin-bottom: 17px;
    }
}
.modalBody{
    max-height: 80vh;
overflow: auto;
}
.flexed{
    display: flex;
    margin-bottom: 0;
    .hint{
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    @media (max-width: 576px) {
      font-size: 14px !important;
    }
    }
    .text-two{
        color: rgba(251,251,251,0.58);
        margin-bottom: 0;
        @media (max-width: 576px) {
          font-size: 14px !important;
        }
    }
}
.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .form-group label {
    position: relative;
    cursor: pointer;
  }

  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: #74768e;
    border: 2px solid #314461;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #c6c7d1;
    margin-left: -8%;
    border-radius: 5px;
    margin-right: 2%;
  }

  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left:5px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

  }
.label-check{
  padding-left: 7%;
}
.input-checkbox{
  .label-check{
    font-size: 16px;
    line-height: 21px;
    @media (max-width: 576px) {
      font-size: 14px;
    }

    color: #fff;

  }
}

.cardImg {
  width: 100%;
  @media (max-width: 576px) {
    margin-bottom: 20px;
  }
}

.textWhite {
  text-align: left;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  @media (max-width: 576px) {
    font-size: 16px;
  }
}
.cardLogUtility {
  color:#ffffff;
  text-align: left;
  padding-left: 20px;
  li {
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 7px;
    @media (max-width: 576px) {
      font-size: 13px;
    }
  }
}
.cardUtlRow {
  margin-top: 30px;
}
.checkCircleIcon {
  display: block;
  margin: 0 auto 5px;
  filter: invert(1);
  width: 70px;
}