<div class="pageWrapper">
    <div class="sectionWrapper">
      <ng-container *ngIf="showNormal">
        <h2 class="pageHeading">My QR Code</h2>
        <div class="cardOne qrWrap">
          <ngx-qrcode
              [elementType]="elementType"
              [value] = "value"
              cssClass = "aclass"
              errorCorrectionLevel = "L">
          </ngx-qrcode>
            <p class="qrScanText">Scan to Pay</p>
        </div>
      </ng-container>
      <ng-container *ngIf="showError">
        <ng-lottie height="100px" [options]="errorOptions" (animationCreated)="animationCreated($event)"></ng-lottie>
        <div class="errorMsg" style="color:#ffffff;margin-bottom: 10px">{{errorMessage}}</div>
        <div class="text-center">
          <button class="buttonCustome" (click)="hideErrorMessage()">
            Back
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="showLoader">
        <div class="text-center">
          <ng-lottie  height="150px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
          <span class="errorMsg" style="color:#ffffff">{{loadingMessage}}</span>
        </div>
      </ng-container>
    </div>
</div>
