<div class="pageWrapper">
    <div class="sectionWrapper">
      <ng-container *ngIf="showNormal">
        <h2 class="pageHeading">Balance</h2>

        <div class="cardOne">
          <ng-container *ngIf="opinions>1">
            <img src="assets/images/wealth.svg" alt="icon">
            <h2 class="welcomeMsg" tooltip="{{balanceBreakup}}"> <span [ngStyle]="{'color':(lowestUnsync>5)?'#FF7777':'#FFF'}"><fa-icon icon="exclamation-circle"></fa-icon> {{balanceString}} CC</span></h2>

            <div class="button-wrapper" *ngIf="lowestUnsync>5">
              <button (click)="syncAccount()" class="buttonCustome"><img src="assets/images/sync.svg" alt="icon"> SYNC</button>
            </div>
          </ng-container>

          <ng-container *ngIf="isCounterfeit">
            <ng-lottie height="100px" [options]="errorOptions" (animationCreated)="animationCreated($event)"></ng-lottie>
            <p>Failed to Authenticate!</p>
          </ng-container>

          <ng-container *ngIf="opinions===1">
            <img src="assets/images/wealth.svg" alt="icon">
            <h3>{{ balanceString }}<span>CC</span></h3>
            <div class="gap10"></div>
          </ng-container>
        </div>

      </ng-container>

      <ng-container *ngIf="showError">
        <ng-lottie height="100px" [options]="errorOptions" (animationCreated)="animationCreated($event)"></ng-lottie>
        <div class="errorMsg" style="color:#ffffff;margin-bottom: 10px">{{errorMessage}}</div>
      </ng-container>

      <ng-container *ngIf="showLoader">
        <div class="text-center">
          <ng-lottie  height="150px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
          <span class="errorMsg" style="color:#ffffff">{{loadingMessage}}</span>
        </div>
      </ng-container>
    </div>
</div>
