<div class="debit-card-container">
  <div class="container">
    <ng-container  *ngIf="showNormal">
      <p class="pageHeading">Enter Debit Card Details Here</p>
      <div class="debit-details-inner">

        <div class="row">
          <div class="floatLbl">
              <label class="label-input-form" for="sv-add">SkyVault Address</label>
              <input #autofocus placeholder="username" type="text" class="input-form" name="walletName" [(ngModel)]="walletName">
              <span class="domainName">.skyvault.cc</span>
          </div>

          <div class="col-md-5">
            <label class="label-input-form" for="sv-add">Debit Card Details</label>
            <input placeholder="XXXX XXXX XXXX XXXX" type="text" class="input-form" name="cardNumber" mask="0000 0000 0000 0000"
            [(ngModel)]="cardNumber">
          </div>

          <div class="col-md-4">
            <label class="label-input-form" for="sv-add">Expiry Date</label>
            <input placeholder="MM/YY" type="text" class="input-form" name="expiryDate" mask="M0/00" [leadZeroDateTime]="true" [(ngModel)]="expiryDate">
          </div>

          <div class="col-md-3">
            <label class="label-input-form" for="sv-add">CVV</label>
            <input placeholder="XXXXXXXXX" type="text" (keypress)="keyPressNumbers($event)" class="input-form" name="cvv2"  [(ngModel)]="cvv2" maxlength="4">
          </div>

        </div>
        <div class="gap30">

        </div>
        <div style="text-align: center;">
          <a class="buttonCustome" href="javascript:void(0)" (click)="login()">SUBMIT</a>
        </div>
      </div>
    </ng-container >
    <ng-container *ngIf="showError">
      <ng-lottie height="100px" [options]="errorOptions" (animationCreated)="animationCreated($event)"></ng-lottie>
      <div class="errorMsg">{{errorMessage}}</div>
      <div class="text-center">
        <button class="buttonCustome" (click)="hideErrorMessage()">
          Back
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="showLoader">
      <div class="text-center">
        <ng-lottie height="150px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        <span class="errorMsg" style="color:#ffffff">{{ loadingMessage }}</span>
      </div>
    </ng-container>
  </div>
</div>
