<div class="pageWrapper">
  <div class="sectionWrapper">
    <ng-container *ngIf="showNormal">
      <div class="depositWrap">
        <h2 class="sectionTitle">Drop Your CloudCoins Here</h2>
        <p class="sectionContent" style="margin-top: -8px;"><span class="alert-send-msg"><fa-icon icon="exclamation-circle"></fa-icon> Please deposit only 3200 coins maximum at a time</span></p>
        <div class="depositForm">
          <div class="row">
            <div class="col-md-12">
              <div class="dropDebitcardWrapOuter">
                <div class="dropDebitcardWrap" ngx-dropzone [accept]="'*'" (change)="onSelect($event)">
                  <ngx-dropzone-label>
                    <div>
                      <img src="assets/images/debit-card_drop.svg" alt="drop icon" class="dropIcon">
                      <span class="dropLabel">Drop your CloudCoins here</span>
                    </div>
                  </ngx-dropzone-label>
                  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                    [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>
                      {{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-image-preview>
                </div>
              </div>
            </div>
            <div class="gap10"></div>
            <div class="col-md-12 disclaimer" *ngIf="!doRecord">
              <span><fa-icon [icon]="faInfoCircle"></fa-icon> This transacton will not be recorded. You can record this transaction by changing the setting in Statements</span>
            </div>
            <div class="col-md-12">
              <div class="button-wrapper">
                <button class="buttonCustome">SUBMIT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showError">
      <ng-lottie height="100px" [options]="errorOptions" (animationCreated)="animationCreated($event)"></ng-lottie>
      <div class="errorMsg" style="color:#ffffff;margin-bottom: 10px">{{errorMessage}}</div>
      <div class="text-center">
        <button class="buttonCustome" (click)="hideErrorMessage()">
          Back
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="showLoader">
      <div class="text-center subInnerHeader">
        <ng-lottie height="150px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        <span class="errorMsg" style="color:#ffffff">{{ progressMessage }}</span>
      </div>
    </ng-container>

    <div class="text-center subInnerHeader" *ngIf="complete">
      <div class="gap10"></div>
      <!-- <div [innerHTML]="completeMessage"></div> -->
      <ng-container *ngIf="showResult">
        <img *ngIf="!depositSuccess" src="assets/images/information-white.svg" alt="information icon" class="resultIcon">
        <img *ngIf="depositSuccess" src="assets/images/check-white.svg" alt="information icon" class="resultIcon">
        <span *ngIf="depositSuccess">Deposit Complete</span>
        <span *ngIf="!depositSuccess">Deposit Failed</span>
        <div class="depositResponse">
          <span><fa-icon [icon]="faCoins"></fa-icon> Coins attempted: {{ total }}</span>
          <div *ngIf="(authentic + fracked) > 0">
            <span><fa-icon [icon]="faCheck"></fa-icon>&nbsp; Coins deposited: {{ authentic + fracked }}</span>
          </div>

          <div *ngIf="counterfeit > 0">
            <span><fa-icon [icon]="faExclamationTriangle"></fa-icon>&nbsp; Coins rejected: {{ counterfeit }}</span>
          </div>

          <div *ngIf="error > 0">
            <span><fa-icon [icon]="faBug"></fa-icon>&nbsp; Deposit errors: {{ error }}</span>
          </div>
        </div>
      </ng-container>

      <div class="gap20"></div>
      <div class="btnWrapper">
        <button class="buttonCustome" routerLink="/balance"> <img src="assets/images/balance-wallet.svg" alt="icon" class="walletIcon">  Check Balance</button>
        <button class="buttonCustome" (click)="showReceipt()">See Details</button>
      </div>
    </div>
  </div>
</div>


<!-- modal Receipt -->

<div class="modalContainer" *ngIf="showReceiptModal">
  <div class="modalOverlay" (click)="showReceipt()"></div>
  <div class="modalWrap modalMedium">
    <div class="modalHeader">
      <h1>Details:</h1>
      <div class="modalClose" (click)="showReceipt()">
        <img src="assets/images/close.svg" alt="icon">
      </div>
    </div>
    <div class="modalBody scroll1">
      <div class="sectionOne">
        <p class="text-white mb-n1">The Pownstring shows each of the 25 RAIDA's responses from 0 to 24 encoded in a single character.<br>p = Pass, f = Fail, u = Untried, n =  No response, e = Error</p>
        <!-- <p class="text-white mb-n1">Receipt: RECEIPTID</p> -->
        <div class="gap30"></div>
        <div *ngFor="let data of receiptDetails">
          <p class="text-white mb-n1"> Serial Number: {{data.value.sn}}</p>
          <p class="text-white mb-n1"> Pownstring : {{data.value.pownstring}}</p>
          <p class="text-white mb-n1"> Result : {{data.value.result}}</p>
          <hr style="color:#8581c0">
          <div class="gap10"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal Receipt-->
