<div class="pageWrapper">
  <div class="sectionWrapper">
    <ng-container *ngIf="showNormal">
        <!-- statement one -->

        <ng-container *ngIf="updatedTransactions">
          <div class="statementWrap statementWrapTwo">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h2 class="sectionTitle">Recent Transactions</h2>
              </div>
              <div class="col-md-6">
                <div class="customSwitchWrap">
                  <label class="switch">
                    <input type="checkbox" [checked]="doRecord" (change)="toggleDeleteRecords()">
                    <span class="slider round"></span>
                  </label>
                  <span class="switchText">Record transactions</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="tableWrap">
                  <div class="tableWrapCont ">
                    <table class="table  table-responsive">
                      <thead>
                        <tr>
                          <!-- <th scope="col">Icon</th> -->
                          <th scope="col">Date</th>
                          <th scope="col">Type</th>
                          <th scope="col">Amount (CC)</th>
                          <th scope="col">Balance</th>
                          <!-- <th scope="col">Description</th> -->
                          <!-- <th scope="col">Link</th> -->
                        </tr>
                      </thead>
                      <tbody class="tblStmtBody">
                        <ng-container *ngFor="let item of updatedTransactions; let i = index;">
                          <tr>
                              <td scope="col">{{ item.date ? (item.date | date:'d MMMM y, h:mm a') : "" }}</td>
                              <td>{{ item.transaction_type }}</td>
                              <td>{{ item.amount }}</td>
                              <td>{{ item.balance }}</td>
                          </tr>
                        </ng-container>
                        <!-- <tr>
                          <td><img src="assets/images/logo-icon.svg" alt="icon"></td>
                          <td>10/22/21</td>
                          <td>Withdraw</td>
                          <td>2547</td>
                          <td>2547</td>
                          <td>Bill Payment</td>
                          <td scope="col"> <a href="javascript:;"> Link to Receipt</a></td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- statement two -->
        <ng-container *ngIf="!updatedTransactions">
          <div class="statementWrap">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h2 class="sectionTitle">Recent Transactions</h2>
              </div>
              <div class="col-md-6">
                <div class="customSwitchWrap">
                  <label class="switch">
                    <input type="checkbox" [checked]="doRecord" (change)="toggleDeleteRecords()">
                    <span class="slider round"></span>
                  </label>
                  <span class="switchText">Record transactions</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="cardOne">
                  <img src="assets/images/statement_transaction.svg" alt="icon">
                  <p>Your recorded transactions will be shown here.</p>
                  <!-- <p *ngIf="doRecord">You haven't made any new transactions yet.</p> -->
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- statement two -->
    </ng-container>

    <ng-container *ngIf="showError">
      <ng-lottie height="100px" [options]="errorOptions" (animationCreated)="animationCreated($event)"></ng-lottie>
      <div class="errorMsg" style="color:#ffffff;margin-bottom: 10px">{{errorMessage}}</div>
      <div class="text-center">
        <button class="buttonCustome" (click)="hideErrorMessage()">
          Back
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="showLoader">
      <div class="text-center subInnerHeader">
        <ng-lottie height="150px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        <span class="errorMsg" style="color:#ffffff">{{ progressMessage }}</span>
      </div>
    </ng-container>
  </div>
</div>
