<div class="pageWrapper">
  <div class="sectionWrapper">
    <ng-container *ngIf="showNormal">
      <div class="transferWrap">
        <h2 class="sectionTitle">Transfer CloudCoins</h2>
        <p class="sectionContent">Used for transfering CloudCoin to individual SkyVault.<br><span class="alert-send-msg"><fa-icon icon="exclamation-circle"></fa-icon> Please send only 16000 coins maximum at a time</span></p>
        <div class="transferForm">
          <div class="row">
            <div class="col-md-12">
              <label class="label-input-form">To SkyVault Address</label>
              <input type="text" class="input-form" [(ngModel)]="to" name="to" placeholder="username.skyvault.cc" [disabled]="defaultAddress">
              <!-- <input *ngIf="!defaultAddress" type="text" class="input-form" [(ngModel)]="to" name="to" placeholder="username.skyvault.cc"> -->
            </div>
            <div class="col-md-6">
              <label class="label-input-form" *ngIf="opinions>1" style="color:#FF7777" tooltip="{{balanceBreakup}}">
                <fa-icon icon="exclamation-circle"></fa-icon> Amount (Balance: {{balanceString}} CC)
                <!-- <button class="syncInLabelIcon" (click)="syncAccount()"><img src="assets/images/sync.svg" alt="syncIcon"></button> -->
              </label>

              <label class="label-input-form" *ngIf="opinions===1 || opinions===0" >Amount (Balance: {{balanceString}} CC)</label>
              <input type="number" class="input-form" placeholder="XX" name="amount" [(ngModel)]="amount" (keyup)="onAmountChange()">
            </div>
            <div class="col-md-6">
              <label class="label-input-form">Memo (optional)</label>
              <input placeholder="Rent Payment" type="text" class="input-form" [(ngModel)]="memo">
            </div>
            <div class="col-md-12 disclaimer" *ngIf="!doRecord">
              <span><fa-icon [icon]="faInfoCircle"></fa-icon> This transacton will not be recorded. You can record this transaction by changing the setting in Statements</span>
            </div>
            <div class="gap10"></div>
            <div class="col-md-12">
              <div class="button-wrapper">
                <button class="buttonCustome" (click)="transfer()">TRANSFER</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showError">
      <ng-lottie height="100px" [options]="errorOptions" (animationCreated)="animationCreated($event)"></ng-lottie>
      <div class="errorMsg" style="color:#ffffff;margin-bottom: 10px">{{errorMessage}}</div>
      <div class="text-center">
        <button class="buttonCustome" (click)="hideErrorMessage()">
          Back
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="showLoader">
      <div class="text-center subInnerHeader">
        <ng-lottie height="150px" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        <span class="errorMsg" style="color:#ffffff">{{ progressMessage }}</span>
      </div>
    </ng-container>

    <div class="text-center subInnerHeader" *ngIf="complete">
      <div class="gap10"></div>
      <div [innerHTML]="completeMessage"></div>
      <div class="gap20"></div>
      <button class="buttonCustome"  routerLink="/balance"> <img src="assets/images/balance-wallet.svg" alt="icon" class="walletIcon">  Check Balance</button>
    </div>
  </div>
</div>
