
.transferWrap {
  width: 100%;
  height: initial;
  max-width: 600px;
  margin: 0 auto;
  .transferForm {
    margin-top: 40px;
    @media (max-width: 576px) {
      margin-top: 20px;
    }
    .button-wrapper {
      margin: 0 auto;
      margin-top: 30px;
      text-align: center;
      width: 100%;
    }
  }
}
