<div class="headerSection">
  <div class="topLogo">
    <img src="assets/images/logo.svg" alt="logo" class="expandedLogo">
    <img src="assets/images/small_logo.svg" alt="logo" class="collapsedLogo">
  </div>
  <div class="topnavWrap" >
    <div class="topnavLeft">
      <a href="javascript:;" class="menuToggler" (click)="menuToggle()"><img src="assets/images/menu.svg" alt=""></a>
      <div class="adminWrapDetails" *ngIf="username">
        <h6>Welcome</h6>
        <h5>{{ username }}</h5>
      </div>
    </div>
    <div class="topNavRight">
      <div class="serverDiv">
        <div class="raidalogo">
            <img src="assets/images/raida-logo.svg" alt="icon">
        </div>
        <div class="signalWrap">
          <ng-container *ngIf="showRaida">
            <ng-container *ngFor="let number of [].constructor(serverNumber) ;let i= index">
              <div class="signalDiv" [(ngModel)]="serverResponseList[i]" ngDefaultControl name="server{{i}}"
                [ngStyle]="{'background-color':(serverResponseList[i].status==1)?'#25CF5D':'#FF3C2D'}"
                tooltip="Server {{serverResponseList[i].server}} is {{serverResponseList[i].message}}" placement="top">
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!showRaida">
            <ng-container *ngFor="let item of [].constructor(25);let i= index">
              <div class="signalDiv" tooltip="Server {{i}} is loading" placement="top"></div>
            </ng-container>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>




